// Colour palette
$main-colour: #4a503d;
$secondary-colour: #8e9775;
$contrast-colour: #e28f83;
$background-colour: #faf2da;

// Other colours
$colour-red: #db4141;
$colour-green: #2da332;
$colour-blue: #417fdb;
$colour-yellow: #ffc400;
$colour-black: #292929;
$color-white: #fefefe;
